@import url('https://fonts.googleapis.com/css?family=Pragati+Narrow|Questrial');

@mixin transition($property, $duration, $speedCurve: ease) {
	-moz-transition: $property $duration $speedCurve;
	-o-transition: $property $duration $speedCurve;
	-webkit-transition: $property $duration $speedCurve;
	transition: $property $duration $speedCurve;
}
@mixin translate($valueX, $valueY) {
	-o-transform: translate($valueX, $valueY);
	-moz-transform: translate($valueX, $valueY);
	-ms-transform: translate($valueX, $valueY);
	-webkit-transform: translate($valueX, $valueY);
	transform: translate($valueX, $valueY);
}

$mobileSpacing: 15px;
$desktopSpacing: 20px;

body {
	background: #fafafb;
	font-family: 'Pragati Narrow', sans-serif;
}

.container {
	position: relative;
	z-index: 0;
}

header {
	background: #fff;
	border-bottom: 1px solid #c1a38b;
	box-shadow: 0 0 10px rgba(0,0,0,0.05);
	color: #c1a38b;
	margin: 0 0 $mobileSpacing 0;
	.container {
		padding: $mobileSpacing;
	}
	h1 {
		font-family: 'Questrial', sans-serif;
		font-size: 3em;
		font-weight: 600;
		text-transform: uppercase;
	}
	.fa-bars {
		font-size: 3em;
		position: absolute;
		right: $mobileSpacing;
		top: 50%;
		@include translate(0, -50%);
		&:hover {
			cursor: pointer;
		}
	}
}

#sideBar {
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.05);
	left: 0;
	position: absolute;
	@include transition(transform, 0.25s);
	@include translate(-100%, 0);
	top: 0;
	width: 100%;
	z-index: 1;
	&.visible {
		@include translate(0, 0)
	}
	div {
		-webkit-backface-visibility: hidden;
		border-bottom: 1px solid rgba(204, 204, 204, 1);
		color: #000;
		font-size: 3em;
		height: 25vh;
		position: relative;
		text-align: center;
		&:last-child {
			border-bottom: 0;
		}
		&:after {
			background: #fff;
			content: '';
			height: 100%;
			left: 0;
			opacity: 1;
			position: absolute;
			top: 0;
			@include transition(all, 0.25s);
			width: 100%;
			z-index: 1;
		}
		&:hover, &.active {
			color: #fff;
			cursor: pointer;
			text-shadow: 0 0 5px rgba(0, 0, 0, 1);
			&:after {
				opacity: 0;
			}
		}
		span {
			display: block;
			left: 50%;
			padding: 20px;
			position: absolute;
			@include translate(-50%, -50%);
			top: 50%;
			width: 100%;
			z-index: 2;
		}
	}
}

article {
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.05);
	padding: $mobileSpacing;
	&.hidden {
		display: none;
	}
	h1 {
		font-family: 'Questrial', sans-serif;
		font-size: 2em;
		font-weight: 600;
		margin: 0 0 $mobileSpacing 0;
		text-align: center;
	}
	h2 {
		font-family: 'Questrial', sans-serif;
		font-size: 2em;
		font-weight: 400;
		margin: 0 0 $desktopSpacing 0;
	}
	img {
		margin: 0 auto $mobileSpacing auto;
	}
	p {
		font-size: 2em;
		line-height: 1.25;
		margin: 0 0 $mobileSpacing 0;
		&:last-child {
			margin: 0;
		}
	}
	ul {
		font-size: 2em;
		margin: 0 0 $mobileSpacing 25px;
	}
	table {
		font-size: 2em;
		width: 100% !important;
	}
}

.socialIcons {
	font-size: 3em;
	margin: 0 0 $mobileSpacing 0;
	text-align: right;
	i {
		margin-right: $mobileSpacing;
		@include transition(opacity, 0.25s);
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			cursor: pointer;
			opacity: 0.5;
		}
	}
}

.fa-envelope-square {
	position: relative;
	top: 1px;
}

.fa-facebook-square {
	color: #4267b1;
}

.fa-twitter {
	color: #5085bb;
}

.fa-rss {
	color: #fc6505;
}

@media screen and (min-width: 740px) {
	header {
		margin: 0 0 $desktopSpacing 0;
		.container {
			padding: $desktopSpacing;
		}
		.fa-bars {
			display: none;
		}
	}

	#sideBar {
		float: left;
		min-height: 0;
		position: relative;
		@include translate(0, 0);
		width: 24%;
		div {
			height: auto;
			font-size: 1.6em;
			span {
				left: 0;
				position: relative;
				top: 0;
				@include translate(0, 0);
			}
		}
	}

	article {
		padding: $desktopSpacing;
		float: right;
		width: 74%;
		h1 {
			font-size: 3em;
			margin: 0 0 $desktopSpacing 0;
		}
		h2 {
			font-size: 3em;
			margin: 0 0 $desktopSpacing 0;
		}
		img {
			margin: 0 auto $desktopSpacing auto;
		}
		p {
			margin: 0 0 $desktopSpacing 0;
		}
		ul {
			margin: 0 0 $desktopSpacing 25px;
		}
	}

	.socialIcons {
		margin: 0 0 $desktopSpacing 0;
		i {
			margin-right: $desktopSpacing;
		}
	}
}

@media screen and (min-width: 960px) {
	#sideBar {
		div {
			font-size: 2em;
		}
	}
}

@media screen and (min-width: 1200px) {
	#sideBar {
		div {
			font-size: 2.6em;
		}
	}
}

@media screen and (min-width: 1600px) {
	.container {
		margin: 0 auto;
		max-width: 1560px;
	}

	#sideBar {
		div {
			font-size: 3em;
			position: relative;
			min-height: 131px;
			span {
				left: 50%;
				position: absolute;
				top: 50%;
				@include translate(-50%, -50%);
				width: 100%;
			}
		}
	}
}